/*--------->|| FONTS ||--------<
---------------------------------*/
/*--------->|| VARIABLES ||--------<
---------------------------------*/
:root {
  --blue: #017FFF;
  --grey: #888888;
  --black: #000000;
  --white: #ffffff;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*--------->|| GENERAL STYLES ||--------<
---------------------------------*/
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 960px;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  min-height: calc(90vh - 40px);
}

/*--------->|| MAIN CONTENT ||--------<
---------------------------------*/
h1 {
  font-weight: bolder;
  font-size: 3em;
  color: var(--blue)
}

#about-me {
  margin: 0 auto;
}

h3 {
  font-weight: bold;
  font-size: 1.8em;
  color: var(--blue)
}

#social-icons {
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
}

#social-icons .fa {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

#social-icons .fa:hover {
  color: var(--blue);
}

hr {
  /* display: inline; */
  border: 1px solid var(--grey);
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* for bachelors and job positions */
.important-title {
  font-weight: 600;
}

.inline-links:hover {
  color: var(--black);
}

.inline-links:visited {
  color: var(--blue);
}

/*--------->|| PROJECTS ||--------<
---------------------------------*/

.projects-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.project-container {
  margin: 0 auto;
  text-align: center;

}

.project-container img {
  max-width: 100%;
  height: auto;
}

.menu-caption {
  text-align: center;
  margin-top: 10px;

}

.menu-caption a {
  text-decoration: none;
  /* color: var(--dark-blue); */
}

.project-image:hover {
  opacity: 80%;
}


.menu-caption a:hover {
  color: var(--blue);
}


/* more projects button */
.text-center {
  text-align: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}



/*--------->|| SKILLS ||--------<
---------------------------------*/


#skills-containter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.skill {
  margin-top: 5%;
}

.w3-green {
  background-color: var(--blue) !important;
  height: 14px !important;
}

.w3-light-grey {
  width: 75%;
}

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 4rem;
  border-top: 1px solid #dee2e6;
}

footer .col-md-4 {
  display: flex;
  align-items: center;
}

footer .col-md-4 a {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  color: #6c757d;
  text-decoration: none;
  line-height: 1;
}

footer .nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer .nav li {
  margin-left: 0.5rem;
}

footer .nav li a {
  color: #6c757d;
  text-decoration: none;
}



.footerbottom {
  display: grid;

}




/*--------->|| MEDIA QUERIES ||--------<
---------------------------------*/
@media screen and (max-width: 776px) {
  body {
    max-width: 90%;
  }

  .container {
    /* width: 100%; */
    /* max-width: 0px; */
    margin: 30px;
  }
}


@media screen and (max-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(3, 33.3%);
  }

  .project-container {
    margin: 0 auto;
    text-align: center;

  }

  .project-container img {
    max-width: 100%;
    height: auto;
  }

  .project-container img {
    width: 75%;
    height: auto;
  }


}

@media screen and (max-width: 400px) {
  .w3-light-grey {
    width: 50%;
  }

  .menu-caption {
    display: none;
  }
}