/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/

/*--------->Variables<-----------*/
:root {
  --ligth-white: #FBEFE5;
  --darkest-brown: #8C3F23;
  --dark-brown: #BF622C;
  --light-brown: #F2A766;
  --cherry: #D90754;
}

/*--------->General Styles<-----------*/
body {
  background-color: var(--ligth-brown);
  font-family: 'Raleway', sans-serif;
}

#container {
  background: var(--ligth-white);
  margin: 0 auto;
  /*Max width for the main container*/
  max-width: 100%x;
  text-align: center;
}


/*--------->HEADER<-----------*/

/*--------->Main<-----------*/




/*--------->Footer<-----------*/


/*--------->Media Queries<-----------*/
@media (max-width: 768px) {
}
/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
