/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
/*--------->Variables<-----------*/
:root {

  --dark: #000000;
  --green: #39FF14;
  --grey: #E1E1E1;
  --light-dark: #1B1B1B;
  --light-grey: #F3F3F3;
  --white: #FFFFFF;

}

/*--------->General Styles<-----------*/
body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  /*Max width for the main container*/
  max-width: 100%;
  text-align: center;
}

#container {}

/*--------->HEADER<-----------*/
header {
  background: red;
  text-align: right;
  padding: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
}

nav ul li a {}

/*--------->Main<-----------*/
#main-content {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-image{
  width: 100%;
}
/*--------->Footer<-----------*/
/*--------->Media Queries<-----------*/
@media (max-width: 768px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
