/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
/*--------->Variables<-----------*/
:root {
  --ligth-white: #FBEFE5;
  --darkest-brown: #8C3F23;
  --dark-brown: #BF622C;
  --light-brown: #F2A766;
  --cherry: #D90754;
}

/*--------->General Styles<-----------*/
body {
  background-color: var(--ligth-brown);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  /*Max width for the main container*/
  max-width: 100%;
  text-align: center;
}

#container {}

/*--------->HEADER<-----------*/
header {
  background: red;
  text-align: right;
  padding: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 2em;
}

nav ul li a {}

/*--------->Main<-----------*/
#main-content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content h4{
  display: flex;

}


/*--------->Footer<-----------*/
/*--------->Media Queries<-----------*/
@media (max-width: 768px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/
